
body {
  background-color: #00000;
  background-image: url(http://zebu.uoregon.edu/hudf/hudf_300dpi.jpg);
  background-position: center center;
  background-repeat: repeat;
}

.header-name {
  color: #FFFFFF;
}

.mainpanel {
  background: linear-gradient(to bottom, #EE932A, #D2D2D2);
}
